body {
    margin-left: 150px;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #000000;
    color: white;
  }
  h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    font-size: 50px;
    
  }



 #top-wrapper {
    display: flex; 
  }



  #logo-image {
    height: auto;
    width: 100px;
    margin-top: 20%;
    margin-right: 10px;
}
#search-wrap{
    display: inline-block;
    padding: 20px;
    padding-left: 20rem;
}


.poke-card {
    display: block;
    width: calc((130% - 3 * 3px) / 3); /*4Adjust the width and gap as needed */
    height: calc((100% - 1 * 1px) / 2); /* Adjust the height and gap as needed */
    box-shadow: 10px 10px rgba(0, 0, 0, 0.256);
    background-color: white;
    font-family: cursive;
}

.flex-item {
    padding: 15px;
    border-radius: 5px;
}

.item {
    display: inline;
    align-items: center;
    padding: 2px;
    height: 100%
}



#pop-up {
   
    display: none;  /*
    invisible popUp
    */    
    background-color: white;
    padding: 4%;
    padding-bottom: 0%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.275);
    
}

#pop-up-img {
    border-style: solid;
    color:black;  
    background-color: white; 
}

#pop-up-name {
    font-family:cursive;
}

#pop-up-type {
    font-family: cursive;
}

#pop-up-height {
    font-family: cursive;
}

#pop-up-weight{
    font-family: cursive;
}

#pop-up-abilities {
    font-family: cursive;
}
 /* pokemon search bar style  */
#pokemon-input {
    border: 4px solid rgb(196, 76, 52);
    position: relative;
    width: 300px;
    height: 25px;
    border-radius: 50px ;
    padding: 0px 5px;
}
/* search bar gap */
#pokemon-search-bar {
    
    height: 50px;
    margin-left: 30%;

}

button {
    border-radius: 50px;
}

@media(min-width: 0px){
    #pokemon-ul{
        overflow: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 150, 1fr;
        gap: 1rem;
        gap: 5px; /* Adjust the gap as needed */
        width: 80%;
        height: 100vh; /* Adjust the height as needed */
        padding: 5%;
        margin-top: 70px;
        background-color: rgb(56, 55, 55);
        color: white;
        border-style: solid;
        border-color: black;
        border-radius: 3%;
    }
    #pokemon-ul::-webkit-scrollbar {
        display: none;
    }

    #pokemon-display{
        display: none;
        align-items:start;
        flex-wrap: wrap;
        padding: 4.5%;
        padding-left: 1rem;
        /* justify-content: center; */
        background-color: rgb(56, 55, 55);
        border-style:solid ;
        color: black;
        margin-right:10% ;
        border-color: red;
        border-radius: 3%;
    }

    #search-wrap{
        padding-bottom: 20px;
        padding-left: 4px;
    }
}

@media (min-width: 600px){
    #pokemon-ul{
        overflow: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 150, 1fr;
        gap: 1rem;
        gap: 5px; /* Adjust the gap as needed */
        width: 80%;
        height: 100vh; /* Adjust the height as needed */
        padding: 5%;
        margin-top: 70px;
        background-color: rgb(56, 55, 55);
        color: white;
        border-style: solid;
        border-color: red;
        border-radius: 3%;
    }
    #pokemon-ul::-webkit-scrollbar {
        display: none;
    }
    #pokemon-display{
        display: none;
        align-items:start;
        flex-wrap: wrap;
        padding: 4.5%;
        padding-left: 5rem;
        /* justify-content: center; */
        background-color: rgb(56, 55, 55);
        border-style:solid ;
        color: black;
        margin-right:10% ;
        border-color: red;
        border-radius: 3%;
    }
    #search-wrap{
        display: inline-block;
        padding-bottom: 20px;
        padding-left: 0px
    }
}

@media (min-width: 700px){
    #pokemon-ul{
        overflow: hidden;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(2fr, 1fr);
        grid-template-rows: repeat(75, 1fr) ;
        gap: .5rem;
        gap: 5px; /* Adjust the gap as needed */
        width: 80%;
        height: 100vh; /* Adjust the height as needed */
        padding: 5%;
        margin-top: 70px;
        background-color: rgb(56, 55, 55);
        color: white;
        border-style: solid;
        border-color: red;
        border-radius: 3%;
    }
    #pokemon-ul::-webkit-scrollbar {
        display: none;
    }
    #pokemon-display{
        display: none;
        align-items:start;
        flex-wrap: wrap;
        padding: 4.5%;
        padding-left: 10rem;
        /* justify-content: center; */
        background-color: rgb(56, 55, 55);
        border-style:solid ;
        color: black;
        margin-right:10% ;
        border-color: red;
        border-radius: 3%;
    }

    #search-wrap{
        display: inline-block;
        padding: 20px;
    }
}

@media (min-width: 850px) {
    #pokemon-ul{
        overflow: hidden;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(50, 1fr); /* 30 rows */
        gap: .5rem;
        gap: 5px; /* Adjust the gap as needed */
        width: 80%;
        height: 100vh; /* Adjust the height as needed */
        padding: 5%;
        margin-top: 70px;
        background-color: rgb(56, 55, 55);
        color: white;
        border-style: solid;
        border-color: red;
        border-radius: 3%;
    }
    #pokemon-ul::-webkit-scrollbar {
        display: none;
    }

    #pokemon-display{
        display: none;
        align-items:start;
        flex-wrap: wrap;
        padding: 4.5%;
        padding-left: 20rem;
        /* justify-content: center; */
        background-color: rgb(56, 55, 55);
        border-style:solid ;
        color: black;
        margin-right:10% ;
        border-color: red;
        border-radius: 3%;
    }
    
    #search-wrap{
        display: inline-block;
        padding: 20px;
        padding-left: 13rem;
    }
}

@media (min-width:1300px) {
    #pokemon-ul {
        overflow: hidden;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* 5 columns */
        grid-template-rows: repeat(30, 1fr); /* 30 rows */
        gap: 5px; /* Adjust the gap as needed */
        width: 80%;
        height: 100vh; /* Adjust the height as needed */
        padding: 5%;
        margin-top: 70px;
        background-color:rgb(56, 55, 55);
        color: white;
        border-style: solid;
        border-color: red;
        border-radius: 3%;
    }
    #pokemon-ul::-webkit-scrollbar {
        display: none;
    }

    #pokemon-display{
        display: none;
        align-items:start;
        flex-wrap: wrap;
        padding: 4.5%;
        padding-left: 29rem;
        /* justify-content: center; */
        background-color: rgb(56, 55, 55);
        border-style:solid ;
        color: black;
        margin-right:10% ;
        border-color: red;
        border-radius: 3%;
    }

    #search-wrap{
        display: inline-block;
        padding: 20px;
        padding-left: 20rem;
    }
}

