body {
    margin-left: 150px;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #D4AF92;
  }
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
  }

#pokemon-ul {
    overflow: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-template-rows: repeat(30, 1fr); /* 30 rows */
    gap: 5px; /* Adjust the gap as needed */
    width: 80%;
    height: 100vh; /* Adjust the height as needed */
    padding: 5%;
    margin-top: 70px;
    background-color: #F5E1BF;
    color: black;
    border-style: solid;
    border-color: black;
}

.poke-card {
    display: block;
    width: calc((100% - 3 * 3px) / 3); /*4Adjust the width and gap as needed */
    height: calc((100% - 1 * 1px) / 2); /* Adjust the height and gap as needed */
    box-shadow: 10px 10px rgb(137, 137, 137);
    background-color: #E5D2B3;
    font-family: cursive;
}

.flex-item {
    padding: 15px;
    border-radius: 5px;
}

.item {
    display: inline;
    align-items: center;
    padding: 2px;
    height: 100%
}

#pokemon-display{
    display: flex;
    flex-direction: column;
    align-items:start;
    padding: 4.5%;
    /* justify-content: center; */
    background-color: #F5E1BF;
    border-style:solid ;
    color: black;
    margin-right:10% ;

}

#pop-up {
    background-color: #E5D2B3;
    padding: 4%;
    box-shadow: 10px 10px rgb(137, 137, 137);
    
}

#pop-up-img {
    border-style: solid;
    color:#ab998b;  
    background-color: rgba(255, 255, 255, 0.363);  
}

#pop-up-name {
    font-family:cursive;
}

#pop-up-type {
    font-family: cursive;
}

#pop-up-height {
    font-family: cursive;
}

#pop-up-weight{
    font-family: cursive;
}

#pop-up-abilities {
    font-family: cursive;
}
